<form action="SEND ADDRESS" id="ft-form" method="POST" accept-charset="UTF-8">
<fieldset>
 <h1> <legend>CLIENT INFORMATION</legend></h1>
  <label><br>
    Name
    <input type="text" name="name" required>
  </label>
  <div class="two-cols">
    <label>
      Email address:
      <input type="email" name="email" required>
    </label><br>
    <label>
      Phone number
      <input type="tel" name="phone">
    </label><br>
    <label>
      Date of birth
      <input type="date" name="Appointment request" required>
    </label>
    <div class="inline">
      <label>
      <label>
      Gender
      
    </label>
        <input type="hidden" name="male desired" value="no">
        <input type="checkbox" name="male desired" value="yes">
        male
      </label>
      <label>
        <input type="hidden" name="Female desired" value="no">
        <input type="checkbox" name="Female desired" value="yes">
        Female
      </label>
    </div>

  </div>
</fieldset>
<div class="btns">
  <input type="text" name="_gotcha" value="" style="display:none;">
  <input type="submit" value="save">
</div>
</form>