h1{
  text-align: center;
}
form{
  background-color: rgb(152, 153, 143);
}
form{
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: hsl(0, 88%, 44%)
}
.btns{
  text-align: center;
}
