h1{
  text-align: center;
}
form{
  background-color: rgba(225, 221, 240, 0.685);
}
form{
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: hsl(0, 88%, 44%)
}
.btns{
  text-align: center;
}
form{
  size:50cm
}
